<?xml version="0.0" ?>
<robot name="simplecube">
	<link name="baseLink">
		<inertial>
			<origin rpy="0 0 0" xyz="0.0 0.02 0.0"/>
			<mass value=".1"/>
			<inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="my_cube.obj" scale="1 1 1"/>
			</geometry>
			<material name="yellow">
				<color rgba="1 1 0.4 1"/>
			</material>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="my_cube.obj" scale="1 1 1"/>
			</geometry>
		</collision>
	</link>
</robot>